{% extends 'base.html.twig' %}
{% form_theme donationProcess_1 'bootstrap_4_layout.html.twig'  %}
{% block title %}Donation{% endblock %}
{% block body %}
<br> <br> <div style="text-align:center; font-size:20px"></div>
<br>
<br><br>
    <h1><mark>Give to Receive</mark></h1> 
<br>
<style>
body{ 
    background: url('{{  asset ('images/jesus.png') }}');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        overflow-x: hidden; 
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-color:#FFF;
    }
    .container{
        opacity:0,7;
    }
    .required, label, .form-control{
        color:red;
        font-weight:bold;
    }
    #donation_process_1_country{
        color:gray;
        font-weight:bold;
    }
    
</style>

    {{form_start(donationProcess_1)}}

    {{ form_row(donationProcess_1.name, {'attr' : { 'placeholder': "Your full name"}, 'label': 'Full name' } ) }}

    {{ form_row(donationProcess_1.age, {'attr' : { 'placeholder': "Your age"},  'label': 'Age'} ) }}

    {{ form_row(donationProcess_1.phone, {'attr' : { 'placeholder': "Your phone number"},  'label': 'Phone number'} ) }}

    {{ form_row(donationProcess_1.email, {'attr' : { 'placeholder': "Your E-amil"},  'label': 'Your E-mail'} ) }}


    {{ form_row(donationProcess_1.postalAddress, {'attr' : { 'placeholder': "Your postal address"},  'label': 'Postal address'} ) }}

    {{ form_row(donationProcess_1.occupation, {'attr' : { 'placeholder': "Your occupation"},  'label': 'Occupation'} ) }}

    {{ form_row(donationProcess_1.country) }}

    {{ form_row(donationProcess_1.donationNumber) }}


    
    <button type="submit" class ="btn">Next</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(donationProcess_1)}}

{% endblock %}