{% extends 'base.html.twig' %}
{% form_theme donationProcess_2 'bootstrap_4_layout.html.twig'  %}
{% block title %}Donation{% endblock %}
{% block body %}
 
    <h1>Donation</h1> 
 
    {{form_start(donationProcess_2)}}
 
    {{ form_row(donationProcess_2.currency, {'attr' : { 'placeholder': "Select your currency"}, 'label': 'Currency' } ) }}
 
 
    {{ form_row(donationProcess_2.amount, {'attr' : { 'placeholder': "Amount"}, 'label': 'Amount' } ) }}
 
   <button type="submit" class ="btn">Go to payment</button><br><br>
 
    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
    {% endblock %}
 
    {{form_end(donationProcess_2)}}
 
{% endblock %}
 