{% extends 'base.html.twig' %}
{% block title %}Donation{% endblock %}
{% block body %}

<br><br><br>
<div style="text-align:center">You are giving <em>{{currency}}</em> <strong>{{amount/100}}</strong> to Ang Dios Gugma community</div><br>
<div style="text-align:center">God bless you !</div><br><br>
<div style="text-align:center">
    <img style="height:35px" src="{{  asset ('images/cbType.jpg') }}"/>
</div>
<br><br><br>

<form action="{{path('donation_payment')}}" method="POST" class='stripe_payment'>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_live_IQCBAdS6DTaqctUfaF0mBkgE00GgEg2L54"
    data-amount="{{amount}}"
    data-name="Stripe.com"
    data-description="Ang Dios Gugma"
    data-image="{{  asset ('images/36295287_2025187550833951_675333532272295936_n.jpg') }}"
    data-currency="{{currency}}"
    data-zip-code="false">
  </script>
</form>

{% endblock %}
