{% extends 'base.html.twig' %}
{% form_theme aklan 'bootstrap_4_layout.html.twig'  %}
{% block title %}aklan{% endblock %}
{% block body %}

    <h1 style="text-decoration:underline">Aklan</h1>
    {{form_start(aklan)}}


    {{ form_row(aklan.title, {'attr' : { 'placeholder': "Title"},  'label': 'Title'} ) }}
    {{ form_row(aklan.content, {'attr' : { 'placeholder': "Content"},  'label': 'Content'} ) }}


    
    <button type="submit" class ="btn">Save</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(aklan)}}

{% endblock %}