{% extends 'base.html.twig' %}
{% form_theme guimaras 'bootstrap_4_layout.html.twig'  %}
{% block title %}Guimaras{% endblock %}
{% block body %}

    <h1 style="text-decoration:underline">Guimaras</h1>
    {{form_start(guimaras)}}


    {{ form_row(guimaras.title, {'attr' : { 'placeholder': "Title"},  'label': 'Title'} ) }}
    {{ form_row(guimaras.content, {'attr' : { 'placeholder': "Content"},  'label': 'Content'} ) }}


    
    <button type="submit" class ="btn">Save</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(guimaras)}}

{% endblock %}