{% extends 'base.html.twig' %}
{% form_theme international 'bootstrap_4_layout.html.twig'  %}
{% block title %}International{% endblock %}
{% block body %}

    <h1 style="text-decoration:underline">International</h1>
    {{form_start(international)}}


    {{ form_row(international.title, {'attr' : { 'placeholder': "Title"},  'label': 'Title'} ) }}
    {{ form_row(international.content, {'attr' : { 'placeholder': "Content"},  'label': 'Content'} ) }}


    
    <button type="submit" class ="btn">Save</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(international)}}

{% endblock %}