{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
	
{% block body %}
{%if buffer==1 %}
      <span>Hi <mark>{{user}}</mark>  <i class="fa fa-smile-o" style="font-size:48px;color:red"></i>
<br> You can log out <a href="{{path('security_logout')}}"><mark style='color:white; background-color:red'><em> >>here</em></mark></a></span>
  {% endif %}

  <h1 style="text-align:center">Choose a section to edit</h1><br>
  <h2 style="text-align:center"><a href="{{path('actualities')}}">Actualities</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('video')}}">Videos</a></h2><br>
  <h2 style="text-align:center;color:#503a2c">Operations</h2><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('aklan')}}" style="color:black">Aklan</a></h3><br>
  <h3 style="text-align:center;background-color:white;color:red"><a href="{{path('antique')}}" style="text-align:center;background-color:white;color:black">Antique</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('capiz')}}" style="color:black">Capiz</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('iloilo')}}" style="color:black">Iloilo</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('recap_metro_manila')}}" style="color:black">Metro Manila</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('international')}}" style="color:black">International</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('guimaras')}}" style="color:black">Guimaras</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('negros')}}" style="color:black">Negros</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('mindanao')}}" style="color:black">Mindanao</a></h3><br>
  <h3 style="text-align:center;background-color:white"><a href="{{path('aklan')}}" style="color:black">Aklan</a></h3><br><br><br>
  <div style="text-align:center;background-color:white; text-decoration:underline;font-size:20px"><a href="{{path('teachers')}}" style="color:black">Teachers section</a> </div><br>
  <div style="text-align:center;background-color:white; text-decoration:underline;font-size:20px"><a href="{{path('students')}}" style="color:black">Students section</a> </div>

{% endblock %}