{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
	
{% block body %}
{%if buffer==1 %}
      <span>Hi <mark>{{user}}</mark>  <i class="fa fa-smile-o" style="font-size:48px;color:red"></i>
<br> You can log out <a href="{{path('security_logout')}}"><mark style='color:white; background-color:red'><em> >>here</em></mark></a></span>
  {% endif %}

  <h1 style="text-align:center; color:black">Choose a section to edit</h1><br>
  <h2 style="text-align:center"><a href="{{path('actualities')}}">Actualities Philippines</a></h2><br>
    <h2 style="text-align:center"><a href="{{path('video')}}">Videos Philippines</a></h2>
<!--
  <h2 style="text-align:center"><a href="{{path('actualities_singapore')}}">Actualities Singapore</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('actualities_hongkong')}}">Actualities Hong kong</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('actualities_canada')}}">Actualities Canada</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('video')}}">Videos Philippines</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('video_singapore')}}">Videos Singapore</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('video_hongkong')}}">Videos Hong kong</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('video_canada')}}">Videos Canada</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('video_canada')}}">Videos Canada</a></h2><br>

 <br>-->
{% endblock %}

