{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
	
{% block body %}
{%if buffer==1 %}
      <span>Hi <mark>{{user}}</mark>  <i class="fa fa-smile-o" style="font-size:48px;color:red"></i>
<br> You can log out <a href="{{path('security_logout')}}"><mark style='color:white; background-color:red'><em> >>here</em></mark></a></span>
  {% endif %}

  <h1 style="text-align:center">Choose a section to edit</h1><br>
  <h2 style="text-align:center"><a href="{{path('actualities')}}">Actualities</a></h2><br>
  <h2 style="text-align:center"><a href="{{path('video')}}">Videos</a></h2><br>
 <br>
  <div style="text-align:center;background-color:white; text-decoration:underline;font-size:20px"><a href="{{path('teachers')}}" style="color:black">Teachers section</a> </div><br>
  <div style="text-align:center;background-color:white; text-decoration:underline;font-size:20px"><a href="{{path('students')}}" style="color:black">Students section</a> </div>

{% endblock %}