{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
  
{% block body %}
<script>$(document).ready(function(){
    $("iframe").attr("height", "100%");
    $("iframe").attr("width", "100%");
});
</script>
  {%if buffer==1 %}
      <span>Hi <mark>{{user}}</mark>  <i class="fa fa-smile-o" style="font-size:48px;color:red"></i>
<br> You can log out <a href="{{path('security_logout')}}"><mark style='color:white; background-color:red'><em> >>here</em></mark></a></span>
  {% endif %}
    <div class="container"><br><br> 
        <div class="row"> 
          <div class="col-md-6">
            <div class="news">
              <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  12px/30px Georgia, serif;">
                {{ lastActuTitle|raw}} 
              </h3><br>
              <p style="color:black;text-align:center;font-size:15px">
                <b>{{lastActuContent|raw}}</b>
              </p>
              <p style="color:black;text-align:center;font-size:12px">
                <strong><em style="font: italic  15px/30px Georgia, serif;">Author: <span style="text-decoration:underline;font: italic  15px/30px Georgia, serif;">{{author}}</span></em></strong>
              </p>
              
              <p style="color:black;text-align:center;font-size:12px">
                <strong><em style="font: italic  12px/30px Georgia, serif;">Posted by: <span style="text-decoration:underline;font: italic  12px/30px Georgia, serif;color:darkblue"><b>{{admin}}</b></span></em></strong>
              </p>
                {% if type == 1 %}
                  <span style="color:red">  
                    <a href="{{path('recap_actualities_anchor')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span> 
                {% endif %}
                {% if type == 2 %}
                 <span style="color:red">  
                    <a href="{{path('recap_actualities_dailyGospels')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span>  
                {% endif %}
                {% if type == 3 %}
                  <span style="color:red">  
                    <a href="{{path('recap_actualities_st_of_day')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span> 
                {% endif %}
              </div><br><br>
          </div>
          <div class="col-md-6">
            <div class="news">
              <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  12px/30px Georgia, serif;">
                {{videoTitle}}                                                  
              </h3><br><br>
              <div style="height:100%;width:100%">
                {{videoLink|raw}}
              </div>
            </div><br>
          </div>
          <p style="text-align:justify">Dear Sir/Madam:<br><br>

Greetings of Peace from God’s household!<br><br>

Our Community, Ang Dios Gugma Community Inc.. is a non-stock, non-profit religious Organization with a mission of spreading God’s Love, the Good News of Salvation through the Tri-media Evangelization.<br><br>

We have acquired two(2) hectares lot at Hibao-an Norte, Mandurriao, Iloilo City, Philippines through donations and love offerings of members, covenant partners and benefactors. Our next project is to build multipurpose building structure in that property  to be used for religious activities such as: Holy mass celebrations, Prayer meetings, New Life Seminars and other related activities.<br><br>
In line with this we are inviting you to be one of our benefactors to aid our community in this multipurpose building project.<br><br>

As you answer God’s call, we humbly pray that the Lord God will return to you what you have sown compressed, shaken and overflowing, for it is written that,. <em><b>« He who sows sparingly will reap sparingly, and he who sows bountifully will reap bountifully. So, let each one give as he proposes in his heart, not grudgingly or of necessity:for God loves a cheerful giver. »(2 Corinthians 9:6-7)</b></em><br><br>


Thank you very much. God bless you and your family with good health, long life and overflowing wealth, in Jesus name. Amen.<br><br>

Very truly yours,<br><br><br>
<span style="font-family:zapfino; font-size:12px">BRO.EDWIN A DAULO<br></span>
Head Servant</p>
          <div style="height:200px; width:200px"> 
              <p><br></p><i class="fa fa-hand-o-right" style="font-size:24px;color:red"></i><a href="{{path('donation_method')}}"> <button style="color:white; background-color:orange">Make a donation</button></a>
          </div>
    </div>                
  </div>               

{% endblock %}