{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
  
{% block body %}
 

<style>
 
</style>
<script>$(document).ready(function(){
    $("iframe").attr("height", "90%");
    $("iframe").attr("width", "100%");
});
</script>
  {%if buffer==1 %}
<br> <a href="{{path('video')}}"><mark style='color:white; background-color:rebecapurple'><em><< BACK</em></mark></a></span><br>
<a href="{{path('security_logout')}}"><mark style='color:white; background-color:none'><em><< LOG OUT</em></mark></a>
  {% endif %}
    <div class="container"><br><br> 
        <div class="row"> 
          <div class="col-md-6">
            <div class="news">
              <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  12px/30px Georgia, serif;">
                {{ lastActuTitle|raw}} 
              </h3><br>
              <p style="color:black;text-align:center;font-size:15px">
                <b>{{lastActuContent|raw}}</b>
              </p>
              <p style="color:black;text-align:center;font-size:12px">
                <strong><em style="font: italic  12px/30px Georgia, serif;">Posted by: <span style="text-decoration:underline;font: italic  12px/30px Georgia, serif;color:darkblue"><b>{{admin}}</b></span></em></strong>
              </p>
                {% if type == 1 %}
                  <span style="color:red">  
                    <a href="{{path('recap_actualities_anchor')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span> <br><br> <div class="sharethis-inline-follow-buttons"></div>
                {% endif %}
                {% if type == 2 %}
                 <span style="color:red">  
                    <a href="{{path('recap_actualities_dailyGospels')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span><br><br><div class="sharethis-inline-follow-buttons"></div>
                {% endif %}
                {% if type == 3 %}
                  <span style="color:red">  
                    <a href="{{path('recap_actualities_st_of_day')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span> <br><br> <div class="sharethis-inline-follow-buttons"></div>
                {% endif %}
              </div><br><br>
          </div>
          <div class="col-md-6">
            <div class="news">
              <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  12px/30px Georgia, serif;">
                {{videoTitle}}                                                  
              </h3><br><br>
              <div style="height:90%;width:100%">
                {{videoLink|raw}}
              </div>
            </div><br>
          </div>    
  </div>  <br><br>
  <!-- -->

<div class="row"> 
          <div class="col-md-6">
            <div class="news">
              <div style="height:90%;width:100%">
                  {{youtube|raw}}
              </div>
            </div><br>
          </div>
          <div class="col-md-6">
            <div class="news">
              <div style="text-align:center;color:black">              
                <b>ANG DIOS GUGMA COMMUNITY, INC <br></b>
                <b style="text-decoration:underline">H I S T O R Y</b><br>
              </div>
              <p style="color:black;text-align:center;font-size:15px">
                The foundation which led to the conception of the “Ang Dios Gugma Catholic Ministries, Inc.” community was due to a man’s quest for peace, happiness, love and forgiveness.
                Burdened and pressured with too many problems in life, he was physically, mentally, emotionally and spiritually exhausted. His life was miserable as he experienced sleepless nights, coupled with nightmares and nervousness 
              
                <a href="{{path('about_us')}}"><em>more</em></a>
            </p><br> 
            </div><br>
          </div>
</div>
</div>       
{% endblock %}