{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
  
{% block body %}
 

<style>
    .vid{ 
        height:600px;       
        }
        @media screen and (max-width: 600px) {
    
        .vid{
          height:300px; 
        }
  }
  div span {
    color: black;
  }
  
</style>
<script>$(document).ready(function(){
    $("iframe").attr("height", "90%");
    $("iframe").attr("width", "100%");
});
</script>
  {%if buffer==1 %}
<br> <a href="{{path('video')}}"><mark style='color:white; background-color:rebecapurple'><em><< BACK</em></mark></a></span><br>
<a href="{{path('security_logout')}}"><mark style='color:white; background-color:none'><em><< LOG OUT</em></mark></a>
  {% endif %}
    <div class="container"><br><br> 
        <div class="row"> 
          <div class="col-md-6">
            <div class="news">
              <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  12px/30px Georgia, serif;">
                {{ lastActuTitle|raw}} 
              </h3><br>
              <p style="color:black;text-align:center;font-size:15px">
                <b>{{lastActuContent|raw}}</b>
              </p>
              <p style="color:black;text-align:center;font-size:12px">
                <strong><em style="font: italic  12px/30px Georgia, serif;">Posted by: <span style="text-decoration:underline;font: italic  12px/30px Georgia, serif;color:darkblue"><b>{{admin}}</b></span></em></strong>
              </p>
                {% if type == 1 %}
                  <span style="color:red">  
                    <a href="{{path('recap_actualities_anchor')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span> <br><br> <div class="sharethis-inline-follow-buttons"></div>
                {% endif %}
                {% if type == 2 %}
                 <span style="color:red">  
                    <a href="{{path('recap_actualities_dailyGospels')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span><br><br><div class="sharethis-inline-follow-buttons"></div>
                {% endif %}
                {% if type == 3 %}
                  <span style="color:red">  
                    <a href="{{path('recap_actualities_st_of_day')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more </em></a>
                  </span> <br><br> <div class="sharethis-inline-follow-buttons"></div>
                {% endif %}
              </div><br><br>
          </div>
          <div class="col-md-6">
            <div class="news">
              <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  12px/30px Georgia, serif;">
                {{videoTitle}}                                                  
              </h3><br><br>
              <div style="height:90%;width:100%">
                {{videoLink|raw}}
              </div>
            </div><br>
          </div>
           
                    
  </div>  
<br><br>
  <p style="text-align:center; color:red;font-weight:bold;font-size:8px;margin-bottom:0px">
         <i class="fa fa-hand-o-right" style="font-size:24px;color:red"></i><a href="{{path('donation_method')}}"> <button style="color:white;font-size:16px; background-color:orange">Make a donation</button></a>
    </p>   <br> 
  <!---  -->                     
  <div class='vid'>
    {{youtube|raw}}    
  </div>

       
  </p>
  <!-- --> 
</div>       

{% endblock %}