{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
	
{% block body %}
   <div class="container"><br><br>            
<div class="row"> 
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-4">
                       <div class="news">                           
                                <img class="mySlides" src="{{  asset ('images/adg3.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/adg2.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/adg1.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p1.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p2.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p3.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p4.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p5.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p6.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p7.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p8.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p9.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p10.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p11.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p12.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p13.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p14.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p15.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p16.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p17.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p18.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p19.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p20.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p21.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p22.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p23.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p24.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p25.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p26.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p27.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p28.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p29.jpg') }}" style="width:100%;height:100%">
                       </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-4">
                       <div class="news"> 
                          <h3 style="text-align:center;border-radius: 12px;border: 2px solid;">
                                  {{ lastActuTitle }} 
                          </h3>     
                          <p style="color:black;"><br>
                                  {{lastActuContent}}
                          </p>
                          <p style="color:black;text-align:center;font-size:12px">
                                 <strong><em>Author: <span style="text-decoration:underline">{{author}}</span></em></strong>
                          </p>                      
                          <p style="color:red">  
                              <a href="{{path('recap_actualities')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:white;background-color:red;border:2px solid;">Read more</em></a>
                          </p> 
                       </div>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-4">
                       <div class="news"> 
                          <h3 style="text-align:center;border-radius: 12px;border: 2px solid;">
                                  Last posted video
                          </h3>                           
                              <p style="color:black;font-size:12px"><br><br><strong><em>{{ videoTitle }}</em></strong></p>
                          
                              <a href="{{videoLink}}" target="_blank">
                              <img style="height:100px; " src="{{  asset ('images/play_icone.png') }}"/>
                              </a>
                       </div>
                    </div>
        </div>
    </div>       
  
<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
{% endblock %}