{% extends 'base.html.twig' %}

{% block title %}Ang Dios Gugma{% endblock %}
	
{% block body %}
<script>$(document).ready(function(){
    $("iframe").attr("height", "100%");
    $("iframe").attr("width", "100%");
});
</script>
  {%if buffer==1 %}
      <span>Hi <mark>{{user}}</mark>  <i class="fa fa-smile-o" style="font-size:48px;color:red"></i>
<br> You can log out <a href="{{path('security_logout')}}"><mark style='color:white; background-color:red'><em> >>here</em></mark></a></span>
  {% endif %}
   <div class="container"><br><br>       
        <div class="row"> 
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-4">
                       <div class="news">                           
                                <img class="mySlides" src="{{  asset ('images/ag1.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/ag2.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/ag3.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/adg1.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p1.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p2.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p3.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p4.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p6.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p7.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p8.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p9.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p10.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p11.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p12.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p13.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p14.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p15.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p16.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p17.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p18.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p19.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p20.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p21.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p22.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p23.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p24.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p25.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p26.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p27.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p28.jpg') }}" style="width:100%;height:100%">
                                <img class="mySlides" src="{{  asset ('images/p29.jpg') }}" style="width:100%;height:100%">
                       </div><br>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-4">
                       <div class="news"> 
                          <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  15px/30px Georgia, serif;">
                                  {{ lastActuTitle }} 
                          </h3>     
                          <p style="color:black;font:italic  15px/30px Georgia, serif;"><br>
                                  {{lastActuContent}}
                          </p>
                          <p style="color:black;text-align:center;font-size:12px">
                                 <strong><em style="font: italic  15px/30px Georgia, serif;">Author: <span style="text-decoration:underline;font: italic  15px/30px Georgia, serif;">{{author}}</span></em></strong>
                          </p>                      
                          <p style="color:red">  
                              <a href="{{path('recap_actualities')}}"><em style="text-align:center;border-radius:7px;text-decoration:none;color:red;background-color:white;border:2px solid;">Read more</em></a>
                          </p> 
                       </div><br>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-4">
                       <div class="news">
                       <h3 style="text-align:center;border-radius: 12px;border: 2px solid;font: italic  15px/30px Georgia, serif;">
                             {{videoTitle}}                                                  
                      </h3>
                         <div>{{videoLink|raw}}</div>
                       </div><br>
                    </div>
        </div>
    </div>       
  
<script>

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 8000); // Change image every 2 seconds
}

</script>
{% endblock %}