{% extends 'base.html.twig' %}
{% form_theme cominc 'bootstrap_4_layout.html.twig'  %}
{% block title %}Community INC{% endblock %}
{% block body %}

    <h1>Community inc </h1>
    {{form_start(cominc)}}

    {{ form_row(cominc.title, {'attr' : { 'placeholder': "Title"}, 'label': 'Title' } ) }}

    {{ form_row(cominc.AddArticleComInc, {'attr' : { 'placeholder': "Content"}, 'label': 'Content' } ) }}


    <pre> <button type="submit" class ="btn">ADD</button><br><br></pre>


    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(cominc)}}

{% endblock %}