{% extends 'base.html.twig' %}
{% form_theme contact 'bootstrap_4_layout.html.twig'  %}
{% block title %}Contact{% endblock %}

{% block body %}<br><br>

    <i class="fa fa-phone" aria-hidden="false" style="color:red;"></i> (+63)9293854650
<br><br>
<i class="fa fa-home" aria-hidden="false" style="color:red;"></i> Ang Dios Gugma, Infront of ABS-CBN Iloilo, Luna St, La Paz, Iloilo, Philippines
     
<br><br>
    <h1>Contact Form</h1>
    {{form_start(contact)}}

    {{ form_row(contact.firstName, {'attr' : { 'placeholder': "Your first name"}, 'label': 'First Name' } ) }}
    {{ form_row(contact.lastName, {'attr' : { 'placeholder': "Your last name"}, 'label': 'Last Name' } ) }}
    {{ form_row(contact.email, {'attr' : { 'placeholder': "Your email addres"}, 'label': 'Email' } ) }}
    {{ form_row(contact.subject, {'attr' : { 'placeholder': "Subject of your message"}, 'label': 'Subject' } ) }}
    {{ form_row(contact.message, {'attr' : { 'placeholder': "Your message"}, 'label': 'Message' } ) }}


    <pre> <button type="submit" class ="btn">Send</button><br><br></pre>


    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(contact)}}

{% endblock %}