<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
</head>
<body style="margin:0; padding:0; background-color:beige;">
  <center>
      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td align="center" valign="top">  
            <img src="{{  asset ('images/jesus.png') }}"/><br>
                       Hello {{name}}, <br>You have just given {{currency}} {{amount}} to Ang Dios Gugma Community.<br>Your payment has the following reference: <strong>{{ref}}</strong>. <br> We thank you for this act of solidarity.<br>We will pray for you. <br><br>God Bless you.<br><br><strong><em>Kind regards<br>Ang Dios Gugma Community</em></strong> 
          </td>
        </tr>
  </center>
</body>
</html>