<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">  
</head>
<body style="margin:0; padding:0; background-color:beige;">
  <center>
      Hi Grace!<br>
      The following user did a donation to Ang Dios Gugma Community:<br><br>
      <span style="text-decoration:underline">Name</span>: {{name}}<br>
      <span style="text-decoration:underline">Country</span>: {{country}}<br>
      <span style="text-decoration:underline">Occupation</span>: {{occupation}}<br>
      <span style="text-decoration:underline">Email</span>: {{email}}<br>
      <span style="text-decoration:underline">Phone</span>: {{phone}}<br>
      <span style="text-decoration:underline">Age</span>: {{age}}<br><br>
      Hi gives <strong> <b>{{currency}} {{amount}}</b> </strong>. <br>
      God Bless

  </center>
</body>
</html>