<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>                  
<style>
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color:red;
  }
  
</style>
  <ul class="nav nav-tabs" style="background-color:#503a2c">
  <li class="dropdown">
          <a href="{{path('home')}}" class="nav-link"  style="color:white">HOME<span class="caret"></span></a>
  </li>

  <li class="dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">ANG DIOS GUGMA <span class="caret"></span></a>
          <ul class="dropdown-menu" style="width:400px" role="menu">
            <li><a href="{{path('community_inc')}}" style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">COMMUNITY INC</a></li>
          </ul>
        </li>
  </li>

  <li class="dropdown">
          <a href="s" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">OPERATIONS <span class="caret"></span></a>
          <ul class="dropdown-menu" style="width:400px" role="menu">
            <li><a href="{{path('iloilo')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c"  onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">ILOILO</a></li>
            <li><a href="{{path('capiz')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">CAPIZ</a></li>
            <li><a href="{{path('antique')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">ANTIQUE</a></li>
            <li><a href="{{path('aklan')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">AKLAN</a></li>
            <li><a href="{{path('guimaras')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">GUIMARAS</a></li>
            <li><a href="{{path('negros')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">NEGROS</a></li>
            <li><a href="{{path('mindanao')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">MINDANAO</a></li>
            <li><a href="{{path('metroManila')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">METRO MANILA</a></li>
            <li><a href="{{path('international')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c">INTERNATIONAL</a></li>
          </ul>
        </li>
  </li>
   <li class="dropdown">
          <a href="s" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">SUPPORT MINISTRIES <span class="caret"></span></a>
          <ul class="dropdown-menu" style="width:450px" role="menu">
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">ANG DIOS GUGMA MEDIA PHILIPPINES</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">ANG DIOS GUGMA CATHOLIC MINISTRIES FOUNDATION</a></li>
            <li><a href="#" style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">ANG DIOS GUGMA DEVELOPPEMENT COOPERATIVE</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c"
           onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">ANG DIOS GUGMA CATHOLIC SCHOOL</a></li>
          </ul>
        </li>
  </li>
  <li class="dropdown">
          <a href="s" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">SPECIAL MINISTRIES <span class="caret"></span></a>
          <ul class="dropdown-menu" style="width:400px" role="menu">
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">PRAYER WARRIORS</a></li>
            <li><a href="#" style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">HEALING AND DELIVERANCE</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">MUSIC MINISTRY</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">YOUTH MINISTRY</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">LITTLE AND JUNIOR SERVANTS</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">SENIORS AND RETIREES</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">COMMUNITY SERVICES AND PROFESSIONALS</a></li>
            <li><a href="#"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'">LITURGY</a></li>
          </ul>
        </li>
  </li>
  <li class="dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white">DONATION <span class="caret"></span></a>  
  </li>
  </li>
  
</ul>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <div class="foot">
          <div class='about_us'>
                <a href="" style="color:white">About us</a><br>
                <a href="" style="color:white">Contact us</a>
          </div>
          <div class='social_media_img'>
              <a href="" style="margin-right:50px"><img src="https://cdn.pixabay.com/photo/2017/08/20/10/30/facebook-2661207_960_720.jpg"> </a>
              <a href="" style="margin-right:50px"><img src="https://www.stickpng.com/assets/thumbs/580b57fcd9996e24bc43c545.png"> </a>
              <img src="{{ asset('/images/im.jpg') }}"/>

          </div>
          <div class="footer" style="margin-top:-90px;text-align:center">
            Copyright 2019<br>Kalidou Gatta BA<br>Tous droits réservés
          </div>
          </div>
        </body>
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>