<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title>{% block title %}                    Ang Dios Gugma  IJKH                       {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>          
    <body>     
   <div id='tr'>
      <div class='toggle_btn'>
            <div id="menuHam" style="margin-left:-180% !important;color:white">Menu</div><span class="cross"></span>
          </div>
          <nobr>
          <div class='nav nav'><div style="background-color:#503a2c">
            <a href="{{path('home')}}" class="item_1"  style="color:white"><i class="fa fa-home" aria-hidden="false" style="color:white;;padding-left:12px;font-size:18px"></i><span style="font-size:17px">Home</span></a> &nbsp <br>
            <a href="{{path('recap_actualities_anchor')}}" class="item_2" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">News</a> &nbsp <br>
            <a href="{{path('donationProcess_1')}}" class="item_3" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">Donation</a> &nbsp <br>
            <a href="{{path('live_streaming')}}" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">Live streaming</a> &nbsp <br>
             <a href="{{path('catholic_school_actu')}}" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Catholic school</a> &nbsp <br>
              <a href="https://web.facebook.com/arielsteve.arorong.10" target="_blank" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Channel</a> &nbsp <br>
            <a href="{{path('singapore')}}" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Singapore <img style='height:15px;width:15px' id='pic_eg' src="{{  asset ('images/singapore.gif') }}"> </a> &nbsp <br>
            <a href="{{path('hongkong')}}" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Hong Kong <img style='height:15px;width:15px' id='pic_eg' src="{{  asset ('images/hongkong.gif') }}"></a> &nbsp <br>
            <a href="{{path('canada')}}" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Canada <img style='height:15px;width:15px' id='pic_eg' src="{{  asset ('images/canada.gif') }}"></a> &nbsp <br><a href="{{path('contact')}}" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">Contact us</a> &nbsp <br>
                <a href="{{path('about_us')}}" class="item_4" role="button" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">About us</a> &nbsp </nobr> 
             <!--<a href="{{path('live_chat')}}" class="item_5" role="button" aria-expanded="false" style="color:white;font-size:16px">Chat <i class="fa fa-comment" aria-hidden="false" style="color:red"></i></a>-->
            </div><br>
          </div> </div>
          <style>
          #tr{
            background-color: #503a2c;
            position: fixed;
            width: 100%;
            z-index: 3;
          }
              .toggle_btn{
                height: 30px;
                width: 30px;
                position: relative;
                float: right;
                margin-right: 10px;
                margin-top: 5px;
                cursor: pointer;
                background-color: none;
              }
              .toggle_btn span{
                height: 3px;
                background-color: white;
                width: 100%;
                position: absolute;
                top: 10px;
                left: 0;
              }
              .toggle_btn span:before{
                content: '';
                height: 3px;
                background-color: white;
                width: 100%;
                position: absolute;
                top: -10px;
                
              }
              .toggle_btn span:after{
                content: '';
                height: 3px;
                background-color: white;
                width: 100%;
                position: absolute;
                top: 10px;
                left: 0;
              }
              .nav{
                height: 10px;
                background-color: none;
                width: 200px;
                font-size: 12px;
              }
              .nav .item_1:hover{
                height: 10px;
                background-color: none;
                width: 200px;
                font-weight: bold;
                text-decoration: underline;
              }
              .nav .item_2:hover{
                height: 10px;
                background-color: none;
                width: 200px;
                font-weight: bold;
                text-decoration: underline;
              }
              .nav .item_3:hover{
                height: 10px;
                background-color: none;
                width: 200px;
                font-weight: bold;
                text-decoration: underline;
              }
              .nav .item_4:hover{
                height: 10px;
                background-color: none;
                width: 200px;
                font-weight: bold;
                text-decoration: underline;
              }
              .nav .item_5:hover{
                height: 10px;
                background-color: none;
                width: 200px;
                font-weight: bold;
                text-decoration: underline;
              }
              .nav a {
                color: white;
                font-family: sans-serif;
                text-align: center;
                
                padding-top: 30px;
                text-decoration: none;
              }
              .nav{
                margin-left: -20000px;
                transition-duration:0.2s;
              }
              .nav_open{
                margin-left: 0%;
                margin-top: 40px;
                bottom: -10px;
                display: inline-block;
                transition-duration:0s;
              }
          </style> 
          <script>
          var x=document.getElementById('menuHam');
            var btn =document.querySelector('.toggle_btn');
            var nav =document.querySelector('.nav');
            btn.onclick=function(){
              nav.classList.toggle('nav_open');
               
              if (x.style.display === "none") {
                x.style.display = "block";
              } else {
                        x.style.display = "none";
              }
            }
          </script>          
       <img id='pic_eg' src="{{  asset ('images/p35.jpg') }}"> 
                <div class="container">
                    {% block body %}{% endblock %}
                </div><br><br><br><br><br>
         
          <div id='pic_eg_yt'>
            <iframe width="100%" height="600px" src="https://www.youtube.com/embed/-vLZ_ur8TUI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br><br>
       </div>



<!--

          <div class="container-fluid" style="background-color:#503a2c;color:white;font: 15px/30px Georgia, serif;">
            <div class="row">
              <div class="col s12 m6 l6 xl5">
                <h5 class="blue-grey-text text-darken-3" style="text-decoration:underline;color:white;font-size:12px">More</h5>
                  <a href="{{path('app_login')}}" class="nav-link" role="button" aria-expanded="false" style="color:white"><div class="menu">Catholic school</div></a>  
                  <a href="{{path('about_us')}}" class="nav-link"  style="color:white;font-size:12px"><div class="menu">About us</div> </a>
              </div>
              <div class="col s12 m6 l6 xl2">
                <h5 class="blue-grey-text text-darken-3" style="opacity:0;color:white;font-size:12px">More</h5>
                    <a href="{{path('contact')}}" class="nav-link"  style="color:white"><div class="menu">Contact us</div> </a>       
              </div>
                <div class="col s12 m6 l6 xl1">
                  <h5 class="blue-grey-text text-darken-3" style="text-decoration:underline;color:white;font-size:15px">Social networks</h5>
                    <a href="https://web.facebook.com/arielsteve.arorong.10" target="_blank" style='background-color:#3b5998; color:white;font-weight:bold'>facebook</a><br> 
                    <a href="https://www.youtube.com/channel/UCf5qwwCzUoenGKvt9mi06dQ" target="_blank" style='background-color:red; color:white;font-weight:bold'>YouTube</a><br>             
                </div>
                <div class="col s12 m6 l6 xl1">
                  <h5 class="blue-grey-text text-darken-3" style="text-decoration:underline;color:white;font-size:12px">Administration</h5>
               


          -->
          
          
        </div></div>





    </div>
      <p style="text-align:center; color:#fff;font-weight:bold;font-size:8px;text-decoration:underline;background-color:black;margin-bottom:0px">
        <a href="{{path('home')}}" style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black">
        {% if  not app.user %}
          <a href="{{path('app_login')}}" style="color:white;font-size:8px;padding-left:12px"><strong>Administration</strong></a>
        {% endif %}
        {% if  app.user %}
          <a href="{{path('security_logout')}}" style="color:white;font-size:8px;padding-left:12px">Log out</a>
        {% endif %}</a><br>
    </p>
     <p style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black;margin-bottom:0px">
        All rights Reserved 2019 &#x24B8;<a href="{{path('home')}}" style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black">angdiosgugma.com</a><br>
        Designed by  KALIDOU <strong>GATTA</strong> BA
    </p>
</body>
<style>
#pic_eg{
   width:100%;
    height:500px;
}
#pic_eg_yt{
  height: 300px;
  width: 100%;
}
h3
{
    font-size:20px;
    margin-bottom:0px;
    word-spacing: 6px;
   background-color: #503a2c;
}
th button:hover{
background-color: lightgreen;
cursor:pointer;
}
table{
width:100%;
margin-top: -50px;
}
.news:hover
{
background-color: #fff  ;
color: white;
}
@media screen and (max-width: 600px) {
  .new, .new h3
      {
      background-color:white;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right:0px;
      padding-bottom: 0px;
       
      }
      #pic_eg{
   width:100%;
    height:250px;
}
}
@media screen and (min-width: 600px) {
.new, .new h3
{
background-color:white;
margin-left: 100px;
margin-right: 100px;
padding-left: 20px;
padding-right: 15px;
padding-bottom: 10px; 
 
}
}
@media screen and (min-width: 400px) {
      .news 
      {
          background-color:white;
          margin-top:0px;
          height:300px;
          border: 2px solid #FFF;
          padding: 10px;
       
          border-top-left-radius: 50px 20px;
          border-top-right-radius: 50px 20px;
          border-bottom-right-radius: 50px 20px;
          border-bottom-left-radius: 50px 20px;
      }
}
@media screen and (max-width: 399px) {
      .news 
      {
          background-color:white;
          margin-top:0px;
          border: 2px solid red;
      }
}
.btn.btn-primary{
      background-color: #58ACFA;
}
.btn.btn-primary:hover{
background-color: white;
color: #503a2c;
}
.title{
    color: blue;
    padding-left: 230px;
}
a em{
  color: blue;
  font-weight: bold;
  text-decoration: underline;
} 
.col-md-12.col-xs-12.col-sm-12.col-lg-12{
background-color: white;
color: #503a2c;
font-weight: bold;
border: 2px solid blue;
border-radius: 12px;
font-size: 15px;
} 
</style>
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>