<!DOCTYPE html>
<html lang="en">
    <head>
 <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5dd9a509b1d22100127bb752&product=inline-follow-buttons" async="async"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script data-ad-client="ca-pub-3752503668205769" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="icon" href="{{  asset ('images/36295287_2025187550833951_675333532272295936_n.jpg') }}" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>    
    <body>   
    <nav class="navbar navbar-light navbar-1 white" style="background-color:#503a2c; position:fixed; width:100%;z-index:3">
      <button class="navbar-toggler" type="button" style="" data-toggle="collapse" data-target="#navbarSupportedContent15"
        aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span><span style="color:white;font-size:15px">Menu</span></button>
        <img src="{{asset('images/36295287_2025187550833951_675333532272295936_n.jpg')}}" style="border-top-left-radius: 50% 50%;border-top-right-radius: 50% 50%;border-bottom-right-radius: 50% 50%;border-bottom-left-radius: 50% 50%;border-radius: 50%;width: 50px;
       height: 45px" />
      <div class="collapse navbar-collapse" id="navbarSupportedContent15">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><br>
            <a href="{{path('home')}}"  style="color:white"><i class="fa fa-home" aria-hidden="false" style="color:white;;padding-left:12px;font-size:18px"></i>Home <span class="sr-only">(current)</span></a><hr>
          </li>
          <li class="nav-item">
            <a href="{{path('recap_actualities_anchor')}}"   aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">News</a><hr>
          </li>
           <li class="nav-item">
             <a href="{{path('live_streaming')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">Live streaming</a><hr>
          </li> 
           <li class="nav-item">
            <a href="{{path('gospel_album')}}" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">Gospel album</a>
          </li>
         
         <!--  <li class="nav-item">
              <a href="{{path('singapore')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Singapore <img style='height:15px;width:15px' id='pic_eg' alt="" src="{{  asset ('images/singapore.gif') }}"></a><hr>
          </li>
           <li class="nav-item">
             <a href="{{path('hongkong')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Hong Kong <img style='height:15px;width:15px' id='pic_eg' alt="" src="{{  asset ('images/hongkong.gif') }}"></a><hr>
          </li>
           <li class="nav-item">
              <a href="{{path('canada')}}" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Canada <img style='height:15px;width:15px' alt="" id='pic_eg' src="{{  asset ('images/canada.gif') }}"></a>
          </li>-->
        </ul>
      </div>
    </nav>
<img id='pic_eg' src="{{  asset ('images/jesus2.jpg') }}" alt=""> 

    <div class="container">
          {% block body %}{% endblock %}
    </div>
 <div id="mapid" style="z-index:1"></div>
 <script>
      var mymap = L.map('mapid').setView([10.69694, 122.56444], 13);
      L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 8,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZ2F0dGEiLCJhIjoiY2pzbHF5cG9tMGV4bjQ5bmR0OWc0NHByOSJ9.Q1dmcwlG2gfDC7LS7mQY-Q'
      }).addTo(mymap);
      var marker = L.marker([10.69694, 122.56444]).addTo(mymap);
      marker.bindPopup("<i class='fa fa-phone' aria-hidden='false' style='color:red;'></i>(033) Office: 321-12-98 / Technical: 330-33-89 <br><br><i class='fa fa-home' aria-hidden='false' style='color:red;'></i> ADG Formation Center, Hibao-an Norte, Mandurriao, Iloilo City,Philippines.").openPopup();
 </script>
    <p style="text-align:center; color:#fff;font-weight:bold;font-size:8px;text-decoration:underline;background-color:black;margin-bottom:0px">
        <a href="{{path('home')}}" style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black">
        {% if  not app.user %}
          <a href="{{path('app_login')}}" style="color:white;font-size:8px;padding-left:12px"><strong>Administration</strong></a>
        {% endif %}
        {% if  app.user %}
          <a href="{{path('security_logout')}}" style="color:white;font-size:8px;padding-left:12px">Log out</a>
        {% endif %}</a>
    </p>
     <p style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black;margin-bottom:0px">
         <a href="{{path('legal_notices')}}" style="color:blue;font-size:10px;font-weight:bold; background-color:beige; color:red">LEGAL NOTICES</a> | &#x24B8; 2019 <a href="{{path('home')}}" style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black">angdiosgugma.com</a>
          | Designed by  KALIDOU <strong>GATTA</strong> BA
    </p>
</body>
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>

