<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="icon" href="{{  asset ('images/36295287_2025187550833951_675333532272295936_n.jpg') }}" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>    
    <style>
    #mapid { height: 400px; }
    body{ 
      background: none; 
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
          overflow-x: hidden; 
          display: flex;
          min-height: 100vh;
          flex-direction: column;
          background-color:#FFFfE0;          
      }
      @media screen and (max-width: 600px) {
  
      body{
         background: none; 
          background-repeat: no-repeat;
          background-size: 100% 85%;
          background-position: center;
          overflow-x: hidden; 
          display: flex;
          min-height: 100vh;
          flex-direction: column;
          background-color:#FFFfE0;  
}
}
 .navbar.navbar-1 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=503a2c');
}
.navbar.navbar-2 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}
.navbar.navbar-3 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
}
.navbar.navbar-4 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}
.navbar.navbar-5 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
}
.navbar.navbar-6 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}
.navbar.navbar-7 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
}
.navbar.navbar-8 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}
.navbar.navbar-9 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}
#pic_eg{
   width:100%;
    height:500px;
}
#pic_eg_yt{
  height: 300px;
  width: 100%;
}
h3
{
    font-size:20px;
    margin-bottom:0px;
    word-spacing: 6px;
   background-color: #503a2c;
}
th button:hover{
background-color: lightgreen;
cursor:pointer;
}
table{
width:100%;
margin-top: -50px;
}
.news:hover
{
background-color: none  ;
color: white;
}
@media screen and (max-width: 600px) {
  .new, .new h3
      {
      background-color:none;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      padding-right:0px;
      padding-bottom: 0px;
       
      }
      #pic_eg{
   width:100%;
    height:250px;
}
}
@media screen and (min-width: 600px) {
.new, .new h3
{
background-color:white;
margin-left: 100px;
margin-right: 100px;
padding-left: 20px;
padding-right: 15px;
padding-bottom: 10px; 
 
}
}
@media screen and (min-width: 400px) {
      .news 
      {
          background-color:none;
          margin-top:0px;
          height:300px;
          border: none;
          padding: 10px;
       
          border-top-left-radius: 50px 20px;
          border-top-right-radius: 50px 20px;
          border-bottom-right-radius: 50px 20px;
          border-bottom-left-radius: 50px 20px;
      }
}
@media screen and (max-width: 399px) {
      .news 
      {
          background-color:none;
          margin-top:0px;
          border: 2px solid red;
      }
}
.btn.btn-primary{
      background-color: #58ACFA;
}
.btn.btn-primary:hover{
background-color: white;
color: #503a2c;
}
.title{
    color: blue;
    padding-left: 230px;
}
a em{
  color: blue;
  font-weight: bold;
  text-decoration: underline;
} 
.col-md-12.col-xs-12.col-sm-12.col-lg-12{
background-color: white;
color: #503a2c;
font-weight: bold;
border: 2px solid blue;
border-radius: 12px;
font-size: 15px;
} 
</style>      
    <body>   
<span style=" height:100%;width:100% ; z-index:3 ;overflow: scroll">
  <nav class="navbar navbar-light navbar-1 white" style="background-color:#503a2c">

    <!-- Navbar brand -->
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" style="background-color:none" data-toggle="collapse" data-target="#navbarSupportedContent15"
      aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span><span style="color:white;font-size:15px">Menu</span></button>
      <img src="{{asset('images/36295287_2025187550833951_675333532272295936_n.jpg')}}" style="height:40px">
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><br>
          <a href="{{path('home')}}"  style="color:white"><i class="fa fa-home" aria-hidden="false" style="color:white;;padding-left:12px;font-size:18px"></i>Home <span class="sr-only">(current)</span></a><hr>
        </li>
        <li class="nav-item">
          <a href="{{path('recap_actualities_anchor')}}"   aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">News</a><hr>
        </li>
        <li class="nav-item">
          <a href="{{path('donationProcess_1')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">Donation</a><hr>
        </li>
         <li class="nav-item">
           <a href="{{path('live_streaming')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">Live streaming</a><hr>
        </li>
         
         <li class="nav-item">
          <a href="{{path('catholic_school_actu')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Catholic school</a><hr>
        </li>
         <li class="nav-item">
          <a href="https://web.facebook.com/arielsteve.arorong.10" target="_blank"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Channel</a><hr>
        </li>
       
         <li class="nav-item">
            <a href="{{path('singapore')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Singapore <img style='height:15px;width:15px' id='pic_eg' src="{{  asset ('images/singapore.gif') }}"></a><hr>
        </li>
         <li class="nav-item">
           <a href="{{path('hongkong')}}"  aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Hong Kong <img style='height:15px;width:15px' id='pic_eg' src="{{  asset ('images/hongkong.gif') }}"></a><hr>
        </li>
         <li class="nav-item">
            <a href="{{path('canada')}}" aria-expanded="false" style="color:white;font-size:17px;padding-left:12px">ADG Canada <img style='height:15px;width:15px' id='pic_eg' src="{{  asset ('images/canada.gif') }}"></a><hr>
        </li>
        
      </ul>
       

    </div>
  </nav>
</span>
<img id='pic_eg' src="{{  asset ('images/jesus2.jpg') }}"> 
    <div class="container">
          {% block body %}{% endblock %}
    </div><br><br>
 <div id="mapid"></div>
 <script>
      var mymap = L.map('mapid').setView([10.9534597, 122.5756326], 13);
      L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 8,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiZ2F0dGEiLCJhIjoiY2pzbHF5cG9tMGV4bjQ5bmR0OWc0NHByOSJ9.Q1dmcwlG2gfDC7LS7mQY-Q'
      }).addTo(mymap);
      var marker = L.marker([10.9534597, 122.5756326]).addTo(mymap);
      marker.bindPopup("<i class='fa fa-phone' aria-hidden='false' style='color:red;'></i>(033) Office: 321-12-98 / Technical: 330-33-89 <br><br><i class='fa fa-home' aria-hidden='false' style='color:red;'></i> ADG Formation Center, Hibao-an Norte, Mandurriao, Iloilo City,Philippines").openPopup();
      circle.bindPopup("I am a circle.");
      polygon.bindPopup("I am a polygon.");
 </script>
</div></div>
  </div>
      <p style="text-align:center; color:#fff;font-weight:bold;font-size:8px;text-decoration:underline;background-color:black;margin-bottom:0px">
        <a href="{{path('home')}}" style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black">
        {% if  not app.user %}
          <a href="{{path('app_login')}}" style="color:white;font-size:8px;padding-left:12px"><strong>Administration</strong></a>
        {% endif %}
        {% if  app.user %}
          <a href="{{path('security_logout')}}" style="color:white;font-size:8px;padding-left:12px">Log out</a>
        {% endif %}</a>
    </p>
     <p style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black;margin-bottom:0px">
        All rights Reserved 2019 &#x24B8;<a href="{{path('home')}}" style="text-align:center; color:#fff;font-weight:bold;font-size:8px;background-color:black">angdiosgugma.com</a><br>
        Designed by  KALIDOU <strong>GATTA</strong> BA
    </p>
</body>
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>

