<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
        <title>{% block title %}Ang Dios Gugma{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>                  

  <ul class="nav nav-tabs" style="background-color:#503a2c">
  <li class="dropdown">
          <a href="{{path('home')}}" class="nav-link"  style="color:white"><div class="menu">Home</div><span class="caret"></span></a>
  </li>
  <li class="dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white"><div class="menu">Adg</div> <span class="caret"></span></a>
          <ul class="dropdown-menu" style="width:100px" role="menu">
            <li><a href="{{path('recap_iloilo')}}" style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Community inc</span></a></li>
          </ul>
        </li>
  </li>

  <li class="dropdown">
          <a href="s" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white"><div class="menu">Operations </div><span class="caret"></span></a>
          <ul class="dropdown-menu" style="width:100px" role="menu">
            <li><a href="{{path('recap_iloilo')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c"  onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Iloilo</span></a></li>
            <li><a href="{{path('recap_capiz')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>Capiz</span></a></li>
            <li><a href="{{path('recap_antique')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>Antique</span></a></li>
            <li><a href="{{path('recap_aklan')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>Aklan</span></a></li>
            <li><a href="{{path('recap_guimaras')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>Guimaras</span></a></li>
            <li><a href="{{path('recap_negros')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>Negros</span></a></li>
            <li><a href="{{path('recap_mindanao')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>Mindanao</span></a></li>
            <li><a href="{{path('recap_metro_manila')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>Metro manila</span></a></li>
            <li><a href="{{path('recap_international')}}" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'" style="padding-left:12px; color:#FFF; background-color:#503a2c"><span class='menu'>International</span></a></li>
          </ul>
        </li>
  </li>
   <li class="dropdown">
          <a href="{{path('support_ministries')}}" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white"><div class="menu">Support ministries</div> <span class="caret"></span></a>
          <ul class="dropdown-menu" style="width:312px" role="menu">
            <li><a href="{{path('media_phil')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>ADG Media Philippines</span></a></li>
            <li><a href="{{path('catholic_ministries_foundation')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>ADG Catholic ministries foundation</span></a></li>
            <li><a href="{{path('dev_cooperative')}}" style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>ADG Developpement cooperative</span></a></li>
            <li><a href="{{('connexion')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c"
           onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>ADG Catholic school</span></a></li>
          </ul>
        </li>
  </li>
  <li class="dropdown">
          <a href="{{path('media_phil')}}" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white"><div class="menu">Special ministries</div> </a>
          <ul class="dropdown-menu" style="width:250px" role="menu">
            <li><a href="{{path('youth_warriors')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Prayer warriors</span></a></li>
            <li><a href="{{path('healing_delivrance')}}" style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Healing and deliverance</span></a></li>
            <li><a href="{{path('music_ministry')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Music ministry</span></a></li>
            <li><a href="{{path('home')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Youth ministry</span></a></li>
            <li><a href="{{path('little_junior_servants')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Little and junior servant</span></a></li>
            <li><a href="{{path('seniors_retirees')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>Seniors and retirees</span></a></li>
            <li><a href="{{path('community_services_professionals')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>com serv & professionals</span></a></li>
            <li><a href="{{path('liturgy')}}"style="padding-left:12px; color:#FFF; background-color:#503a2c" onMouseOver="this.style.backgroundColor='#503a2c';this.style.color='#FFF'"
   onMouseOut="this.style.backgroundColor='white';this.style.color='#503a2c'"><span class='menu'>liturgy</span></a></li>
          </ul>
        </li>
  </li>
  <li class="dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white"><div class="menu">Donation</div><span class="caret"></span></a>  
  </li>
  {% if  not app.user %}
  <li class="dropdown">
          <a href="{{path('security_login')}}" class="nav-link"  style="color:white"><i class="fa fa-user-o" style="text-align:right; color:white; font-weight:bold"></i><span class="caret"></span></a>
  </li> 
  {% endif %}
  {% if  app.user %}
  <li class="dropdown">
          <a href="{{path('security_logout')}}" class="nav-link"  style="color:white"><div class="menu" style="color:red"><mark>Log out</mark></div></a>
  </li> 
  {% endif %}
  </li>
  
</ul> 

        <div class="container">
            {% block body %}{% endblock %}
        </div>
       

          <div class="row">
            <div class="col s12 m6 l6 xl2">
              <h5 class="blue-grey-text text-darken-3">Pages</h5>
              <ul>
                <li><a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/">Accueil</a></li>
                <li><a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/author">A propos </a></li>
                <li><a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/chapter/id/1">Lecture</a></li>
                <li><a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/adminAuth">Administration</a></li>
              </ul>
            </div>

            <div class="col s12 m6 l6 xl5">
              <h5 class="blue-grey-text text-darken-3">Table des matières</h5>
              <ul>
                                                      <li>
                      <a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/chapter/id/4">Chapitre 4 : Les Inuits</a>
                    </li>
                                                                        <li>
                      <a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/chapter/id/3">Chapitre 3 : North to the future </a>
                    </li>
                                                                        <li>
                      <a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/chapter/id/2">Chapitre 2 : En route pour le Denali </a>
                    </li>
                                                                        <li>
                      <a class="teal-text text-lighten-1" href="http://www.vincentlagache.com/blog/chapter/id/1">Chapitre 1 : Arrivée à Juneau </a>
                    </li>
                                                </ul>
            </div>

            <div class="col s12 m6 l6 xl1">
              <h5 class="blue-grey-text text-darken-3">Réseaux sociaux</h5>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-instagram"></i>
            </div>

          </div>













<style type="text/css">
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Abel', sans-serif;
  background-color: #f6f4f1;
  color:#37474f;
  font-size: 1.1em;
}
a
{
  color:#26a69a;

}
main
{
  flex: 1 0 auto;
}
strong
{
  font-weight: 600;
}
.returnHome
{

  margin-top: 7%;
}
.material-icons
{
  color:white;
}
.material-tooltip
{
  background-color: #26a69a;
}
.line
{
  margin: 5% 0 5% 0;
  border-bottom:1px dashed #26a69a;
}
.helper-text
{
  font-size: 0.9em !important;
}

/* NAV BAR */

nav ul a
{
  color:inherit;
}
.selected
{
  color:#37474f;
}

.brand-logo
{
  margin-left: 2%;
}
#nav-mobile
{
  margin-right: 2%;
}
nav .sidenav-trigger .material-icons
{
    color: #26a69a;
}

/* HOME */
#titleMain
{
  font-family: 'Amatic SC', cursive;

}
#chapters
{
  margin-top: 3%;
}
#chapters .material-icons
{
  color: #26a69a;
}
.comment
{
  border-bottom:1px dashed #26a69a;
}
.commentCard
{
  font-size: 1.2em;
}
#sliderCom
{
  width: 900px;
  height: 300px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 3%;
  position:relative;
}
.quote-left
{
  position:absolute;
  top:0%;
  left: 0%;
}
.quote-right
{
  position:absolute;
  bottom:0%;
  right: 0%;
}
#sliderCom .material-icons
{
  color:#37474f;
  font-size: 5em;
}
#sliderComment
{
  font-size: 1.2em;
  width: 80%;
  height: 40%;
  position:absolute;
  top:45%;
  left: 10%;

}
#sliderDate
{
  font-size: 1em;
  position:absolute;
  font-style: italic;
  top:35%;
  left: 10%;
}
#sliderAuthor
{
  font-size: 2em;
  position:absolute;
  top:17%;
  left: 10%;
}

/* AUTHOR VIEW */
#authorContent
{
  margin-top: 3%;
}
#author
{
  font-size: 1.1em;
  text-align: justify;
}
/* CHAPTER VIEW */
.contentChapter,
#contentComment
{
  font-size: 1.1em;
}
.input-field label,
label,
label.active
{
  font-size: 1.5em;
}
#nextChapterButton
{
  margin-left: 36%;
}
/* ADMIN AUTH VIEW */
#authContent
{
border:1px solid #f6f4f1;
margin-top: 6.7%;
}


/* ADMIN AREA VIEW*/
table.hilight > tbody > tr:hover
{
  background-color: rgba(38, 166, 154, 0.2);
}
table.hilight > tbody > tr.report:hover
{
  background-color: rgba( 244, 67, 54, 0.2);

}
.modal-content{color:black;}
.report{color:red;}
.btn-report-com
{

    position: relative;
    background-color: #26a69a;
    color:white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.btn-report-com > span
{
  position: absolute;
  top: 0%;
  left:38%;
}
.redButton{background-color: red !important;}
.title{margin-bottom: 6%;}
#comMod,
#chapMod
{
  margin-top: 5%;
}


#options{margin-bottom: 6%;}

/* NEW CHAPTER VIEW */
#tinyMce{height: 500px;}
/* ERROR VIEW*/
#errorContent
{
  margin-top: 7%;
  margin-bottom: 12%;
}
/* FOOTER */
.page-footer
{
  position: relative;
  bottom: 0;
  background-color: #f0edea;
}
.fab
{
  color:#26a69a;
  font-size: 1.5em;
}

@media all and (max-width: 1320px)
{
  #sliderCom
  {
    width: 700px;
  }
}
@media all and (max-width: 730px)
{
  #sliderCom
  {
    width: 95%;
  }
}
@media all and (max-width: 460px)
{
  nav .brand-logo
  {
    font-size: 1.3em;
  }
}
</style>
    <!--        
    <div class="menu-foot">
          <div class="foot">
            <div class='about_us'>
                  <a href="{{path('about_us')}}" style="color:white">About us</a><br>
                  <a href="{{path('contact')}}" style="color:white"><div class="menu">Contact us</div></a>
            </div>
            <div class='social_media_img'>
                <a href="" style="margin-right:50px"><img src="https://cdn.pixabay.com/photo/2017/08/20/10/30/facebook-2661207_960_720.jpg"> </a>
                <a href="" style="margin-right:50px"><img src="https://www.stickpng.com/assets/thumbs/580b57fcd9996e24bc43c545.png"> </a>
                <img src="{{  asset ('images/Louvre-LOGO.png') }}"/>
            </div>
            <div class="footer" style="fpamargin-top:-90px;text-align:center">
              Copyright 2019<br>Kalidou Gatta BA<br>Tous droits réservés
            </div>
          </div>
        </div>
   --> 




</body>
        {% block footer %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</html>