{% extends 'base.html.twig' %}
{% form_theme student_add 'bootstrap_4_layout.html.twig'  %}
{% block title %}Students{% endblock %}
{% block body %}

    <h1>Add a student</h1>
    {{form_start(student_add)}}

    {{ form_row(student_add.firstName, {'attr' : { 'placeholder': "First Name"}, 'label': 'First Name' } ) }}

    {{ form_row(student_add.lastName, {'attr' : { 'placeholder': "Last Name"},  'label': 'Last Name'} ) }}
    {{ form_row(student_add.grade, {'attr' : { 'placeholder': "Grade"},  'label': 'Grade'} ) }}

    {{ form_row(student_add.status, {'attr' : { 'placeholder': "Status"},  'label': 'Status'} ) }}

    {{ form_row(student_add.age, {'attr' : { 'placeholder': "Age"},  'label': 'Age'} ) }}

    {{ form_row(student_add.representative, {'attr' : { 'placeholder': "Representative"},  'label': 'Representative'} ) }}

    {{ form_row(student_add.adgWorkerOrIndigent, { 'label': 'ADG Worker/Indigent'} ) }}

    {{ form_row(student_add.contactNumber, {'attr' : { 'placeholder': "Contact Number"},  'label': 'Contact Number'} ) }}

    {{ form_row(student_add.address, {'attr' : { 'placeholder': "Address"},  'label': 'Address'} ) }}

    {{ form_row(student_add.birthDate, {'attr' : { 'placeholder': "yyyy/mm/dd"},  'label': 'Date of birth'} ) }}


    
    <button type="submit" class ="btn">Save</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(student_add)}}

{% endblock %}