{% extends 'base.html.twig' %}
{% form_theme student_add 'bootstrap_4_layout.html.twig'  %}
{% block title %}Students{% endblock %}
{% block body %}

    <h1>Add a student</h1>
    {{form_start(student_add)}}

    {{ form_row(student_add.firstName, {'attr' : { 'placeholder': "First Name"}, 'label': 'First Name' } ) }}

    {{ form_row(student_add.lastName, {'attr' : { 'placeholder': "Last Name"},  'label': 'Last Name'} ) }}
    {{ form_row(student_add.level, {'attr' : { 'placeholder': "Level"},  'label': 'Level'} ) }}

    {{ form_row(student_add.city, {'attr' : { 'placeholder': "City"},  'label': 'City'} ) }}

    {{ form_row(student_add.birthDate, {'attr' : { 'placeholder': "yyyy/mm/dd"},  'label': 'Date of birth'} ) }}


    
    <button type="submit" class ="btn">Save</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(student_add)}}

{% endblock %}