{% extends 'base.html.twig' %}
{% form_theme video 'bootstrap_4_layout.html.twig'  %}
{% block title %}Video ADG School{% endblock %}
{% block body %}
{%if buffer==1 %}
      <span>Hi <mark>{{user}}</mark>  <i class="fa fa-smile-o" style="font-size:48px;color:red"></i>
<br> You can log out <a href="{{path('security_logout')}}"><mark style='color:white; background-color:red'><em> >>here</em></mark></a></span>
  {% endif %} 

<h1>Videos AGD SCHOOL</h1><nobr><a href="{{path('adg_school_act')}}"  style="color:blue;background-color:white"> <mark>>>Switch to articles sections</mark></a></nobr>
   
    {{form_start(video)}}

      {{ form_row(video.videoTitle, {'attr' : { 'placeholder': "Title"}, 'label': 'Title' } ) }}

      {{ form_row(video.link, {'attr' : { 'placeholder': "Link"},  'label': 'Link'} ) }}

    
    <button type="submit" class ="btn">Save</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
  {% endblock %}

    {{form_end(video)}}

{% endblock %} 