{% extends 'base.html.twig' %}
{% form_theme actualities 'bootstrap_4_layout.html.twig'  %}
{% block title %}Actualities{% endblock %}
{% block body %}

    <h1>Actualities</h1> 
    <h2>Fill the bellow field if you want to delete an article</h2>
    <form style ='height:100%; width:100%' method ="GET" action="{{path('delete')}}">
      Article title:<br>
      <input type ="text"  style="color:white;background-color:red" name="val" placeholder="Article title"> <nobr><a href="{{path('recap_actualities')}}"  style="color:blue;background-color:white">>>See all articles</a></nobr><br>
      <button type="submit" class ="btn">Delete</button><br><br>
    </form>  <br>
       <h2>Fill the bellow form to add an article</h2>
    {{form_start(actualities)}}

    {{ form_row(actualities.title, {'attr' : { 'placeholder': "Title"}, 'label': 'Title' } ) }}
    {{ form_row(actualities.image) }}

    {{ form_row(actualities.content, {'attr' : { 'placeholder': "Content"},  'label': 'Content'} ) }}

    {{ form_row(actualities.author, {'attr' : { 'placeholder': "Author"},  'label': 'Author'} ) }}

    <script>
        //alert('When you choose an image, it is possible that the name of the image don\'t appear in the image box but no worries it is there!');
    </script>
    
    <button type="submit" class ="btn">Save</button><br><br>

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

    {{form_end(actualities)}}

{% endblock %}