{% extends 'base.html.twig' %}
{% block title %}Actualities{% endblock %}
{% block body %}
<style>
  body{ 
      background: none; 
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;
          overflow-x: hidden; 
          display: flex;
          min-height: 100vh;
          flex-direction: column;
          background-color:#FFFfE0;          
      }
      @media screen and (max-width: 600px) {
  
      body{
         background:none; 
          background-repeat: no-repeat;
          background-size: 100% 85%;
          background-position: center;
          overflow-x: hidden; 
          display: flex;
          min-height: 100vh;
          flex-direction: column;
          background-color:#FFFfE0;  
}
}
article p {
  color: black;
}
</style> 
  {%if buffer==1 %}
      <span>Hi <mark>{{user}}</mark>
<br> You can log out <a href="{{path('security_logout')}}"><mark style='color:white; background-color:red'><em> >>here</em></mark></a></span>
  {% endif %}
<div style="weight:100%">
  <nobr style=''><button type="submit" style='font-size:12px'><a href="{{path('recap_actualities_anchor')}}">Anchor</a></button>
  <button type="submit" style='font-size:12px' ><a href="{{path('recap_actualities_dailyGospels')}}">Daily gospels</a></button> <button type="submit" style='font-size:12px' ><a href="{{path('recap_actualities_st_of_day')}}">Saints of the day</a></button><br>
  <button type="submit" style='font-size:12px'><a href="{{path('recap_actualities_radio_prog')}}">Radio program</a></button>
  <button type="submit" style='font-size:12px'><a href="{{path('recap_actualities_tv_prog')}}">TV program</a></button>
  <button type="submit" style='font-size:12px'><a href="{{path('recap_actualities_uyas')}}">Uyas</a></button></nobr>

</div>
<div style="padding-left:12px;padding-right:12px;padding-bottom:12px;padding-top:12px;font: italic  15px/30px Georgia, serif">   
    <section class ="articles">
    {% if app.user %}
        <span>
          <a href="{{path('actualities')}}" class="nav-link"  style="color:red;font-size:15px; font-weight:bold"><< Go to articles management</a> 
        </span> 
    {% endif %}
      {% for article in articles %}
        <article> 
          <h1 style="text-align:center; font-style:initial; font-size:17px"> {{article.title|raw}} </h1>
            <div>                           
                <img id ="img" src="{{  asset ('uploads/') }}{{article.id}}/image" style="height:100%;width:100%">
            </div>
            <div style ="text-align:justify;font-style:initial; font-size:17px">
              {{article.content|raw}}
            </div><br>  
            <p style="color:black; text-decoration:underline">{{article.author}} </p>
            <p style="color:black; text-decoration:none"><em style="font-size:12px">Posted by</em>:<strong style="font-size:12px">{{article.admin}}</strong>
          <form action='{{path('comment_actu')}}' method='GET'>
              <input type ="text" style='opacity:0' value='{{article.id}}' name="val">
              <input type="submit" style='color:white;background-color:#503a2c' value='+comment'><br>
          </form></p>
        </article>
      {% endfor %}
    </section>
    <a href="{{path('more_anchors')}}"> <mark><b>See more >></b></mark></a>
</div>
{% if app.user %}
  <span>
    <a href="{{path('actualities')}}" class="nav-link"  style="color:white;font-size:15px; font-weight:bold"><mark>Post a new article</mark></a>
  </span> 
{% endif %}

{% block javascript %}
  <script src={{ asset("build/app.js") }}></script>
{% endblock %}
{% endblock %}