{% extends 'base.html.twig' %}
{% block title %}Actualities{% endblock %}
{% block body %}

   
    <h1>{{article1Title }}</h1> 

    
    	<p style="color:black;font-size:13px">{{article1Content }}</p>

<br>
  	<h1>{{article2Title }}</h1>

    	<p style="color:black;font-size:13px">{{article2Content }}</p>

<br>
    <h1>{{article3Title }}</h1>

    	<p style="color:black;font-size:13px">{{article3Content }}</p>

    <br>
    


    {% if app.user %}
          <span>
              <a href="{{path('actualities')}}" class="nav-link"  style="color:white;font-size:15px; font-weight:bold"><mark>Post a new article</mark></a>
          </span> 
    {% endif %}

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

{% endblock %}