{% extends 'base.html.twig' %}
{% block title %}Actualities{% endblock %}
{% block body %}
  
    
<section class ="articles">
{% for article in articles %}
  <article>
    <h1 style="text-align:center"> {{article.title}} </h1>
      <div style ="text-align:justify">
          {{article.content}}
      </div>
      <br>
      <p style="color:black; text-decoration:underline">{{article.author}} </p>
  </article>
{% endfor %}
</section>
 

    {% if app.user %}
          <span>
              <a href="{{path('actualities')}}" class="nav-link"  style="color:white;font-size:15px; font-weight:bold"><mark>Post a new article</mark></a>
          </span> 
    {% endif %}

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

{% endblock %}