{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}
{% block body %}


    {{form_start(form)}}

    {{ form_row(form.username) }}

    {{ form_row(form.password) }}
    {{ form_row(form.admin) }}
    {{form_row(form.teacher)}}
    
    
    <button type="submit" class ="btn">Save</button><br><br>

    {{form_end(form)}}

    {% block javascript %}
    <script src={{ asset("build/app.js") }}></script>
	{% endblock %}

{% endblock %}